{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <h1>DB Operations</h1>
    <table class="tabl">
        <tr>
            <th>Task</th>
            <th>Completed status</th>
            <th>Added time</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}

        <tr>
            <td> {{ task.content }}</td>
            <td> {{ task.completed }}</td>
            <td> {{ task.date_created }}</td>

            <td>
                <a href="/delete/{{task.id}}">delete</a>
                <br>
                <a href="/update/{{task.id}}">update</a>
            </td>
        </tr>
        {% endfor%}

    </table>
    <br>
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">

    </form>
</div>
{% endblock %}

